div.navigation ul {
    padding: 10px;
    background-color: lightgreen;
    display: inline;    
}

div.group_creation_form form {
    background-color: lightcyan;
    padding: 10px;
    width: 250px;
}

div.topic_creation_form form {
    background-color: lightcyan;
    padding: 10px;
    width: 250px;
}

div.groups ul {    
    border-bottom-color: green;
    border-bottom-style: solid;
    border-width: 2px;
    width: 250px;
}

div.groups li {
    background-color: lightgray;
}

div.topics ul {    
    border-bottom-color: green;
    border-bottom-style: solid;
    border-width: 2px;
    width: 250px;
}

div.topcs li {
    background-color: lightgray;
}

