<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>DeleteMessageServlet</servlet-name>
        <servlet-class>egor.forum.servlets.DeleteMessageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteGroupServlet</servlet-name>
        <servlet-class>egor.forum.servlets.DeleteGroupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteTopicServlet</servlet-name>
        <servlet-class>egor.forum.servlets.DeleteTopicServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteMessageServlet</servlet-name>
        <url-pattern>/DeleteMessageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteGroupServlet</servlet-name>
        <url-pattern>/DeleteGroupServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteTopicServlet</servlet-name>
        <url-pattern>/DeleteTopicServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
